@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

.my_tooltip {
  width: 300px;
  max-height: 350px;
  height: min-content;
  z-index: 1 !important;
  /* background-color: aqua;
   color: bisque; */
}

.info-content {
  max-width: 300px;
  max-height: 200px;
  background-color: rgb(244, 244, 244);
  /*overflow-y: scroll;
  margin-inline: 10px;
  margin-block: 10px; */
  padding: 10px;
}

.list-paragraphs {
  max-width: 300px;
  max-height: 200px;
}

.title {
  margin-inline: 10px;
  margin-block: 15px;
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-inline: 10px;
  margin-bottom: -10px;
}

.paragraph {
  font-size: 16px;
  color: gray;
  margin-inline: 10px;
  /* word-break:break-all; */
}

.node-card {
  max-width: 200px;
  height: min-content;
  background-color: rgb(244, 244, 244);
  padding: 1px;
  margin-block: 10px;
}

.node-subtitle {
  font-size: 13px;
  font-weight: bold;
  margin-inline: 10px;
  margin-bottom: -10px;
}

.node-paragraph {
  font-size: 12px;
  color: gray;
  margin-inline: 10px;
  word-break: break-all;
}
